/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.backdropA {
  position: Fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #011627;
  z-index: -0;
}

.backdropB {
  background-image: url("content/BackgroundImage.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 170vw;
  opacity: 15%;
  z-index: -2;
}
.backdropC {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #011627;
  opacity: 50%;
  mix-blend-mode: hard-light 100%;
  z-index: -1;
}

.frame {
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  display: inline-block;
  flex-direction: column;
  background-color: transparent;
  color: White;
  font-family: Ubuntu;
  font-size: 2vw;
  border: 3px solid #0c85e9;
}

.frameEdu {
  margin: 1rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 10px;
  grid-column: 1/4;
  width: 25%;
  font-family: Ubuntu;
  background-color: #022038;
  color: White;
  font-size: 1.25vw;
  border: 3px solid #0c85e9;
}

.frameEdu img {
  width: 100%;
  border-radius: 15%;
}

.gridFrame {
  display: grid;
  place-items: center;
  grid-template-columns: 70% 25%;
  grid-gap: 10px;
  grid-column: 1/4;
}

.gridFrame img {
  border: 3px solid #0c85e9;
  width: 100%;
}

.gridColumns {
  border: 3px solid #0c85e9;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 5px;
  padding: 1.5rem;
}
.gridColumns img {
  width: 10vw;
}

header {
  font-size: 5vw;
  font-style: bold;
  color: White;
  font-family: Ubuntu;
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(
    to right,
    transparent,
    #0c85e9,
    transparent
  );
}

h1 {
  margin-left: 1rem;
  font-size: 2.5vw;
  font-family: Ubuntu;
  color: White;
  background-image: linear-gradient(to right, #0c85e9, transparent);
}

.profile {
  border-radius: 0 1rem 0 1rem;
}

hr {
  height: 2px;
  border-width: 0;
  color: #0c85e9;
  background-color: #0c85e9;
}

button {
  margin: 1rem;
  display: flex;
  font-family: Ubuntu;
  font-size: 2vw;
  text-transform: uppercase;
  background-color: transparent;
  border-color: white;
  color: white;
}

body {
  background-repeat: repeat;
  background-size: 570px;
  color: #0c85e9;
}
